h1 {text-align: center;}
a:visited {color: black;}
a:hover {color:azure;}
a{font-size: 30;}

.CHock{text-align: center;}
#chocc1{width: 500;}
.CHock{position: relative;
    top: 100px;}

.scream_div{text-align: center;}
#scream{width:700
    
